@import '../../styles/variables';
@import '../../styles/mixins';

.card {
  @include box-shadow;

  &__title {
    border-bottom: 2px solid $main-color;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    text-align: center;
  }

  &__img-wrap {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
  }

  &__img {
    width: 100%;
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    gap: 0.3rem;
  }

  &__episode {
    display: flex;
    width: 6rem;
    height: 6rem;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 50%;
    background-color: $main-color;
    text-align: center;
  }

  &__count {
    font-size: 2rem;
  }
}