@import '../../styles/variables';
@import '../../styles/mixins';

.card {
  @include box-shadow;

  cursor: pointer;

  &__img-wrap {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1/1;
  }

  &__img {
    width: 100%;
    transition: 0.3s;

    &:hover {
      width: 105%;
    }
  }

  &__description {
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    text-align: center;
    transition: 0.3s;

    &:hover {
      font-size: 1.3rem;
    }
  }
}
