@import '../../styles/variables.scss';

.header {
  background-color: $main-color;

  h1 {
    margin: 0;
  }

  &__wrapper {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 1.5rem;
  }
}