@import '../../styles/variables';

.footer {
  background-color: $main-color;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  &__logo {
    width: 80px;
    height: auto;
    opacity: 0.5;
    transition: 0.3s all;
    
    &:hover {
      opacity: 1;
    }
  }

  &__github {
    opacity: 0.5;
    text-decoration: inherit;
    transition: 0.3s all;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: '©';
    }
  }
}
