@import '../../styles/variables';
@import '../../styles/mixins';

.search {
  display: flex;
  width: 100%;
  border: 2px solid $main-color;
  margin-top: 1.5rem;

  @include box-shadow;

  &__input {
    width: 100%;
    padding: 0.5rem;
    border: transparent;
    border-right: none;
    font-size: 1.2rem;
    outline: none;
  }

  &__btn {
    background-color: $main-color;

    @include button;
  }
}

